# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.idea
annotated_data/
data_for_analysis/
data_for_analysis_cleaned/
data_for_labelstudio/
data_labeling_test/*.csv
Steam/steam_review_data/
Steam/Steam-Games-Scraper-main/
Metacritic/metacritic_data/
Twitter/extracted_tweets/
Twitter/session.json
Reddit/reddit_data/
Reddit/praw.ini

sentiment_analysis_and_nlp/checkpoints/
sentiment_analysis_and_nlp/checkpoints.json
classification/model_test/

label-studio/MA-Pre-Fragebogen.csv
label-studio/label_studio_api_key.env


# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# dotenv
.env

# virtualenv
venv/
ENV/

### VirtualEnv template
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json
